.slider {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2px;
    height: auto;
}

.slider .left {
    background: #ffc061;
    overflow: hidden;
    height: 450px;
}

.slider .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .right {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

.slider .right .top {
    background: pink;
    overflow: hidden;
}


.slider .right .bottom {
    background: #5f5f5f;
    overflow: hidden;
}

.slider .right .top img,
.slider .right .bottom img {
    height: 100%;
    width: 100%;
}

/* Tablet */
@media (max-width: 900px) {
    .slider {
        grid-template-columns: 2fr 1fr;
    }
}

/* Mobile */
@media (max-width: 550px) {
    .slider {
        grid-template-columns: 1fr;

    }

    .slider .left {
        height: 350px;
    }

    .slider .right {
        height: 250px;
        grid-template-columns: 1fr 1fr;
    }


}