.slider {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2px;
    height: auto;
}

/* LEFT */
.slider .left {
    overflow: hidden;
    height: 450px;
    position: relative;
    transition: all 300ms ease;
}

/* MAIN IMAGE */
.slider .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* animation will replay because of key */
    animation: slideFade 0.6s ease-in-out both;
}

.slider .left .content {
    transition: all 300ms ease;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.slider .left:hover .content {
    backdrop-filter: blur(2px);
    padding: 30px 5px;
    position: absolute;
    bottom: 0;
    left: 0;

    height: auto;
    width: 100%;

}

/* ARROWS */
.slider .left .arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.slider .left .arrows .left-arrow,
.slider .left .arrows .right-arrow {
    width: 15px;
    height: 60px;
    padding: 12px 10px;
    background: rgba(223, 223, 223, 0.075);
    backdrop-filter: blur(5px);
    cursor: pointer;

    transition: width 300ms ease, all 300ms ease, transform 300ms ease;
}

.slider .left .arrows .left-arrow:hover,
.slider .left .arrows .right-arrow:hover {
    width: 20px;
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
}

/* RIGHT */
.slider .right {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
}

.slider .right .top,
.slider .right .bottom {
    overflow: hidden;
}

.slider .right .top img,
.slider .right .bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* subtle animation */
    animation: fadeZoom 0.6s ease-in-out both;
}

/* ANIMATIONS */
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeZoom {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Tablet */
@media (max-width: 900px) {
    .slider {
        grid-template-columns: 2fr 1fr;
    }
}

/* Mobile */
@media (max-width: 550px) {
    .slider {
        grid-template-columns: 1fr;
    }

    .slider .left {
        height: 350px;
    }

    .slider .right {
        height: 250px;
        grid-template-columns: 1fr 1fr;
    }
}