.navbar {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    width: 100vw;
    background: #fffcfc83;
    backdrop-filter: blur(15px);
}

.margin {
    height: 140px;
}

.navbar .arrow-icon {
    display: none;
}

.navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(173, 173, 173, 0.671);
}

.navbar .navbar-header img {
    height: 79px;
    cursor: pointer;
}

.navbar .menu-list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 35px;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 3px 0;
    transition-duration: 300ms;
}

.navbar .menu-list .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .menu-list .menu li {
    cursor: pointer;
}

.navbar .menu-list .book-button {
    justify-content: end;
    display: grid;
    grid-template-columns: 100px 100px 100px 105px;
}

.navbar .menu-list .book-button button {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    transition-duration: 300ms;
}

.navbar .menu-list .book-button button:hover {

    opacity: 0.8;
}

.navbar .menu-list .book-button input {
    border: none;
    outline: none;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding-left: 3px;
}

.navbar .menu-list .menu li {
    position: relative;
}

.navbar .menu-list .menu li ul {
    display: none;
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 10px;
    gap: 5px;
    width: 200px;
    background: #d6d6d6;
    z-index: 1;
}

.navbar .menu-list .menu li:hover ul {
    display: inline-block;
    transition-duration: 300ms;

}

.navbar .menu-list .menu li ul li:hover {
    text-decoration: underline;
    color: rgb(49, 49, 49);
}

@media (max-width: 900px) {
    .navbar .menu-list {
        height: 70px;
        grid-template-columns: 1fr;

    }

    .margin {
        height: 160px;
    }

    .navbar .menu-list .book-button {
        align-content: center;
    }
}

@media (max-width: 550px) {
    .navbar .arrow-icon {
        width: 100vw;
        display: flex;
        height: 34px;
        align-items: center;
        justify-content: center;
    }

    .margin {
        height: 185px;
    }

    .navbar .menu-list.active {
        height: auto;
    }

    .navbar .menu-list.active .menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .navbar .arrow-icon img {
        height: 100%;
    }

    .navbar .menu-list .menu {
        display: none;
    }

    .navbar .menu-list .book-button {
        grid-template-columns: 80px 80px 80px 80px;
    }
}